.card {
  position: relative;

  background-color: rgba(32, 40, 62, 0.8);

  width: 282px;
  height: 520px;
  border-radius: 12px;

  padding: 8px 8px 0 8px;
}

.card__rating {
  position: absolute;
  left: 16px;
  top: 16px;

  background-color: rgba(0, 0, 0, 0.65);

  width: 65px;
  height: 32px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  color: #ffad49;

  span {
    line-height: 24px;
  }
}

.card__title {
  color: #ebeef5;

  font-size: 16px;
  line-height: 24px;

  margin-top: 24px;
  margin-left: 8px;
}

.favorite {
  color: #7b6ef6;

  display: flex;
  align-items: center;
  gap: 8px;

  margin-top: 16px;
  margin-left: 8px;
}
