.search-block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.paragraph {
  margin-top: 16px;
  margin-bottom: 25px;
}

.cards {
  margin-top: 80px;
  display: grid;
  justify-content: space-between;

  row-gap: 16px;

  grid-template-columns: repeat(4, 282px);
}

.button {
  background-color: #7b6ef6;
  color: #fff;

  font-size: 16px;
  line-height: 24px;

  width: 119px;
  height: 56px;

  border: none;
  border-radius: 12px;
}
